{% extends "base.html" %}
{% block title %}Create Study{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="text-center">
            <h3>
                Create Tag
            </h3>
        </div>
        {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {% endif %}

        {% from "_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('study_page.create_tags')}}" >
            {{ form.csrf_token }}
            {{ render_field(form.name, class="form-control") }}
            <br>
            <button type="submit" class="btn btn-success">
                Create Tag
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
