{% extends "base.html" %}
{% block title %}Manange Theme{% endblock %}
{% block content %}

<h1>
    Themes
</h1>

<div class="row">
    {% for theme in themes.items %}
    <div class="col-md-6 study-item">
        <div class="card">
            <!-- {% if theme.study_photo %}
            <img class="card-img-top study-photo-item" src="{{ study.study_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %} -->
            <div class="card-block">
                <a href="{{ url_for('study_page.public_theme', id=theme.id) }}" target="_blank">
                    <h4 class="card-title">
                        {{ theme.name }}
                    </h4>
                </a>
                <p class="card-text">
                    {{ theme.description[:150] }}
                </p>
              
                <p>
                    {% if user in theme.subscribers %}
                        <a href="{{ url_for('study_page.leave_theme', id=theme.id) }}" class="btn btn-danger">Unsubscribe</a>
                    {% else %}
                        <a href="{{ url_for('study_page.join_theme', id=theme.id) }}" class="btn btn-success">Subscribe</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if themes.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage_themes',
                                       study_page_number=themes.prev_num) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ themes.page }} of {{ themes.pages }}
            </p>
        </li>
        {% if themes.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage_themes',
                                       study_page_number=themes.next_num) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
