{% extends "base.html" %}
{% block title %}Manange Theme{% endblock %}
{% block content %}

<h1>
    Themes
</h1>
<br>
{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}

{% if message %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endif %}

<div class="row">
    {% for theme in themes %}
    <div class="col-md-6 study-item">
        <div class="card">
            {% if theme.theme_photo %}
            <img class="card-img-top study-photo-item" src="{{ theme.theme_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %}
            <div class="card-block">
                <a href="{{ url_for('study_page.public_theme', id=theme.id) }}" target="_blank">
                    <h4 class="card-title">
                        {{ theme.name }}
                    </h4>
                </a>
                <p class="card-text">
                    {{ theme.description[:150] }}
                </p>
                <p>
                    {% if user in theme.subscribers %}
                        <a href="{{ url_for('study_page.leave_theme', id=theme.id) }}" class="btn btn-danger">Unsubscribe</a>
                    {% else %}
                        <a href="{{ url_for('study_page.join_theme', id=theme.id) }}" class="btn btn-success">Subscribe</a>
                    {% endif %}
                    <a href="{{ url_for('study_page.edit_theme', id=theme.id) }}" class="btn btn-success">Edit</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
