{% extends "base.html" %}
{% block title %}Manange Study{% endblock %}
{% block content %}

<h1>
    My Studies
</h1>

<div class="row">
    {% for i in range(studies.items|length) %}
    <div class="col-md-6 study-item">
        <div class="card">
            {% if studies.items[i].study_photo %}
            <img class="card-img-top study-photo-item" src="{{ study.study_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {{ studies.items[i].name }}
                </h4>
                <p class="card-text">
                    {{ studies.items[i].description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ studies.items[i].place }}" target="_blank">
                    {{ studies.items[i].place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ studies.items[i].start_datetime.strftime("%Y-%m-%d %I:%M%p") }}
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ studies.items[i].attendees|length }} attending
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Theme: {{ studies.items[i].theme }}
                    <br>
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    Tag: {{ tags[i] }}
                </p>
                {% if studies.items[i].cancel %}
                <button class="btn btn-danger">
                    Canceled
                </button>
                {% else %}
                <a href="{{ url_for('study_page.edit', id=studies.items[i].id) }}" class="btn btn-success">
                    Edit
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if studies.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage',
                                       study_page_number=studies.prev_num) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ studies.page }} of {{ studies.pages }}
            </p>
        </li>
        {% if studies.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage',
                                       study_page_number=studies.next_num) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
