{% extends "base.html" %}
{% block title %}Manange Study{% endblock %}
{% block content %}

<h1>
    My Studies
</h1>

<div class="row">
    {% for study in studies.items %}
    <div class="col-md-6 study-item">
        <div class="card">
            {% if study.study_photo %}
            <img class="card-img-top study-photo-item" src="{{ study.study_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {{ study.name }}
                </h4>
                <p class="card-text">
                    {{ study.description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ study.place }}" target="_blank">
                    {{ study.place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ study.start_datetime.strftime("%Y-%m-%d %I:%M%p") }}
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ study.attendees|length }} attending
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Theme: {{ study.theme }}
                    <br>
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    Tag:
                    {% for tag in study.tag %}
                      {% if study.tag.index(tag) != (study.tag|length - 1)%}
                        {{ tag }},
                      {% else %}
                        {{ tag }}
                      {% endif %}
                    {% endfor %}
                </p>
                {% if study.cancel %}
                <button class="btn btn-danger">
                    Canceled
                </button>
                {% else %}
                <a href="{{ url_for('study_page.edit', id=study.id) }}" class="btn btn-success">
                    Edit
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if studies.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage',
                                       study_page_number=studies.prev_num) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ studies.page }} of {{ studies.pages }}
            </p>
        </li>
        {% if studies.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.manage',
                                       study_page_number=studies.next_num) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>

    <h1>
        My Themes
    </h1>

<div class="row">
        {% for theme in themes.items %}
        <div class="col-md-6 study-item">
            <div class="card">
                {% if theme.study_photo %}
                <img class="card-img-top study-photo-item" src="{{ theme.theme_photo}}">
                {% else %}
                <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
                {% endif %}
                <div class="card-block">
                    <a href="{{ url_for('study_page.public_theme', id=theme.id) }}" target="_blank">
                        <h4 class="card-title">
                            {{ theme.name }}
                        </h4>
                    </a>
                    <p class="card-text">
                        {{ theme.description[:150] }}
                    </p>
                  
                    <p>
                        {% if user in theme.subscribers %}
                            <a href="{{ url_for('study_page.leave_theme', id=theme.id) }}" class="btn btn-danger">Unsubscribe</a>
                        {% else %}
                            <a href="{{ url_for('study_page.join_theme', id=theme.id) }}" class="btn btn-success">Subscribe</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="row justify-content-center">
        <ul class="pagination">
            {% if themes.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('study_page.manage_theme',
                                           study_page_number=themes.prev_num) }}">
                    <span>&laquo;</span>
                </a>
            </li>
            {% endif %}
            <li class="page-item">
                <p class="page-link">
                    Page {{ themes.page }} of {{ themes.pages }}
                </p>
            </li>
            {% if themes.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('study_page.manage_theme',
                                           study_page_number=themes.next_num) }}">
                    <span>&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
