{% extends "base.html" %}
{% block title %}{{ theme.name }}{% endblock %}
{% block content %}

<h3>
    {{ theme.name }}
</h3>
<br>
<div class="row">
    <div class="col-md-4">
        {% if user in theme.subscribers %}
            <a href="{{ url_for('study_page.leave_theme', id=theme.id) }}" class="btn btn-danger">Unsubscribe</a>
        {% else %}
            <a href="{{ url_for('study_page.join_theme', id=theme.id) }}" class="btn btn-success">Subscribe</a>
        {% endif %}
    </div>
</div>
<br>
<hr>
<h3>
    Description
</h3>
<div class="row">
    <div class="col-md-12">
        <p>
            {{ theme.description}}
        </p>
    </div>
</div>
<br>
<hr>
<h3>
    Subscribers
</h3>
<div class="row">
    {% for user in theme.subscribers %}
    <div class="col-md-3 text-center">
        <a href="{{ url_for('user_page.profile', id=user.id) }}">
        {% if user.profile_image %}
            <img width="150px" height="150px" src="{{ user.profile_image }}"
                 class="img-thumbnail rounded-circle">
        {% else %}
            <img width="150px" height="150px" src="{{ url_for('static', filename='img/user.png')}}"
                 class="img-thumbnail rounded-circle">
        {% endif %}
            <p>
                {{ user.name }}
            </p>
        </a>
    </div>
    {% endfor %}
</div>
<br>
<hr>
<h3>
    Associated Studies
</h3>
<br>
<div class="row">
    {% for study in studies %}
    <div class="col-md-6 study-item">
        <div class="card">
          <a href="{{ url_for('study_page.public', id=study.id) }}">
            {% if study.study_photo %}
            <img class="card-img-top study-photo-item" src="{{ study.study_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {{ study.name }}
                </h4>
            </a>
                <p class="card-text">
                    {{ study.description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ study.place }}" >
                    {{ study.place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ study.start_datetime.strftime("%Y-%m-%d %I:%M%p") }}
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ study.attendees|length }} attending
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Theme: {{ study.theme }}
                    <br>
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    Tag:
                    {% for tag in study.tag %}
                      {% if study.tag.index(tag) != (study.tag|length - 1)%}
                        {{ tag }},
                      {% else %}
                        {{ tag }}
                      {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
