{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">
            Find a Study by Tag
        </h1>
        <p class="lead text-muted">
            If you want to go fast, go alone, If you want to go far, go together.
        </p>

        <form method="GET" action="{{ url_for('study_page.search') }}">
            <div class="input-group">
                <input name="tag" type="text" class="form-control" placeholder="Search for a tag..."
                       id="tag">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">
                        Go!
                    </button>
                </span>
            </div>
        </form>
    </div>

</div>

{% if studies and studies.pages > 0 %}
<p class="text-muted text-center">
    Studies with {{ tag }}
</p>


<div class="row">
    {% for study in studies.items %}
    <div class="col-md-6 study-item">
        <div class="card">
            <a href="{{ url_for('study_page.public', id=study.id) }}">
            {% if study.study_photo %}
            <img class="card-img-top study-photo-item" src="{{ study.study_photo}}">
            {% else %}
            <img class="card-img-top study-photo-item" src="{{ url_for('static', filename='img/study.png')}}">
            {% endif %}
            <div class="card-block">
                <h4 class="card-title">
                    {{ study.name }}
                </a>
                </h4>
                <p class="card-text">
                    {{ study.description[:150] }}
                </p>
                <p class="card-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="http://maps.google.com?q={{ study.place }}">
                    {{ study.place }}
                    </a>
                    <br>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    {{ study.start_datetime.strftime("%Y-%m-%d %I:%M%p") }}
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    {{ study.attendees|length }} attending
                    <br>
                    <i class="fa fa-users" aria-hidden="true"></i>
                    Theme: {{ study.theme }}
                    <br>
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    Tag:
                    {% for tag in study.tag %}
                      {% if study.tag.index(tag) != (study.tag|length - 1)%}
                        {{ tag }},
                      {% else %}
                        {{ tag }}
                      {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    <ul class="pagination">
        {% if studies.has_prev %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.search',
                                       study_page_number=studies.prev_num, tags=tags) }}">
                <span>&laquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <p class="page-link">
                Page {{ studies.page }} of {{ studies.pages }}
            </p>
        </li>
        {% if studies.has_next %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('study_page.search',
                                       study_page_number=studies.next_num, tags=tags) }}">
                <span>&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</div>
{% elif tag%}
<p class="text-muted text-center">
    We couldn't find any studies associated with {{ tag }} :(
</p>
{% else %}
{% endif %}

{% endblock %}
{% block javascript %}
{% endblock %}
