<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    .container {
      padding-top: 100px;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="/">StudyGo</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item {% if request.endpoint == 'study_page.create' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('study_page.create') }}">Create a Study</a>
        </li>
        <li class="nav-item {% if request.endpoint == 'study_page.explore' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('study_page.explore') }}">Explore</a>
        </li>
        <li class="nav-item {% if request.endpoint == 'study_page.search' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('study_page.search') }}">Search</a>
        </li>
        <li class="nav-item {% if request.endpoint == 'study_page.create_tags' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('study_page.create_tags') }}">Create a Tag</a>
        </li>
        {% if session.email %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" id="navbarsExampleDefault" aria-haspopup="true" aria-expanded="false">{{ session.email }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('user_page.edit') }}">Edit Profile</a>
            <a class="dropdown-item" href="{{ url_for('user_page.password') }}">Change Password</a>
            <a class="dropdown-item" href="{{ url_for('study_page.manage') }}">My Studies</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user_page.logout') }}">Log out</a>
        </li>
        {% else %}
        <li class="nav-item {% if request.endpoint == 'user_page.login' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('user_page.login') }}">Log In</a>
        </li>
        <li class="nav-item {% if request.endpoint == 'user_page.signup' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('user_page.signup') }}">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  {% block javascript %}{% endblock %}
</body>

</html>
